<div class="torrents__list">
  {{#blue-table model as |torrent|}}
    {{#blue-table/row torrent}}
      {{#blue-table/column}}
        {{md-btn text="Add" action="addTorrent" actionArg=torrent}}
        <button {{action "addTorrent" torrent}}>Add</button>
      {{/blue-table/column}}
      {{#blue-table/column key="name" label="Name" as |data|}}
        {{data}}
      {{/blue-table/column}}
      {{#blue-table/column key="status" label="Status" as |data|}}
        {{data}}
      {{/blue-table/column}}
      {{#blue-table/column key="size" label="Size" as |data|}}
        {{data}}
      {{/blue-table/column}}
      {{#blue-table/column key="downloaded" label="Downloaded" as |data|}}
        {{data}}
      {{/blue-table/column}}
      {{#blue-table/column key="eta" label="ETA" as |data|}}
        {{data}}
      {{/blue-table/column}}
      {{#blue-table/column key="downloadSpeed" label="Download Speed" as |data|}}
        {{data}}
      {{/blue-table/column}}
    {{/blue-table/row}}
  {{/blue-table}}
</div>